body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-gap: 20px; /* Space between the cards */
    justify-content: center;
    margin-top: 4%; /* Add margin-top to push content down */
    padding: 20px; /* Optional: Adds padding around the grid */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; /* Full width of the grid column */
    max-width: 400px; /* Optional: Control max width of each card */
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 300px;
    padding: 10px; /* Optional: Adds padding around the image */
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image scales while maintaining aspect ratio */
    background-color: #fff;
}

.card-content {
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1eb300;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* 1 card per row on small screens */
    }
}

.footer-bottom {
    background-color: transparent;
    text-align: center;
    font-size:larger;
    font-weight: bold;
    margin-top: auto; /* Pushes footer to the bottom */
    padding: 10px 0;
    color: maroon; /* Font color set to maroon */
}

.footer-bottom p {
    margin: 0px 0;
}

