<div class="mb-4 h2 text-success">
    Login
</div>
<form [formGroup]="form" (ngSubmit)="onLogin()">
    <div class ="mb-3">
        <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    </div>
    <div class ="mb-3">
        <input type="password" class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-success w-100 rounded-3">
            Login
        </button>
    </div>
</form>
