<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-10 offset-1">
            <div class="rounded-4 border-0 shadow-lg bg-white" style="min-height: 450px;">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="p-5 w-100">
                        <app-register-screen></app-register-screen>
                        <!--<app-login-screen></app-login-screen>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

