<div class="container">
    <div class="card">
      <div class="card-image">
        <img src="SA-outline-white.webp" alt="Card Image 1" />
      </div>
      <div class="card-content">
        <p>Select Nationals to cast vote for the whole of South Africa!!!.</p>
        <form>
          <button class="btn btn-success w-100 rounded-3" type="submit">National</button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="Provincial outline.jpg" alt="Card Image 2" />
      </div>
      <div class="card-content">
        <p>Select Provincial to cast vote for the province of your choice!!!.</p>
        <form>
          <button class="btn btn-success w-100 rounded-3" routerLink="/pages/provincial-parties" type="submit">Provincial</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p style="margin-top: 150px; color: gray;">powered by</p>
    <p>&copy; 2024 SUSPENCE STUDIOS</p>
</div>
